<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">slider title</h2>
      <div class="meta">
        <div class="rating">
          <i class="pi pi-star-fill"></i>
          <span>8.9</span>
          <span>/10</span>
        </div>
        <div class="voter">
          <i class="pi pi-users"></i>
          <span>443</span>
          <span>345</span>
        </div>
        <div class="relaese-date">
          <i class="pi pi-calendar"></i>
          <span>20/06/2020</span>
        </div>
        <div class="description">text go here</div>
      </div>
    </div>
  </div>
</div>
