<div *ngIf="movies$ | async as movies">
  <div class="slider" *ngFor="let movie of movies.results">
    <div class="slide">
      <div class="slide-bg">
        <img
          src="{{ 'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path }}"
          alt="immagine"
        />
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ movie.original_title }}</h2>
        <div class="meta">
          <div class="rating">
            <i class="pi pi-star-fill"></i>
            <span>{{ movie.vote_average }}</span>
          </div>
          <div class="voter">
            <i class="pi pi-users"></i>
            <span>{{ movie.popularity }}</span>
          </div>
          <div class="relaese-date">
            <i class="pi pi-calendar"></i>
            <span>{{ movie.first_air_date }}</span>
          </div>
          <div class="description">{{ movie.overview }}</div>
        </div>
        <div class="description">text go here</div>
      </div>
    </div>
  </div>
</div>
